<link rel='stylesheet' href='/stylesheets/login.css' />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<h1>Hello Doctor Login Here...!</h1>
<div class="form-modal">
    <div class="form-toggle">
        <button id="man-toggle">Login</button>
    </div>
    <div id="man-form">
        <form id="manform">
            <input type="text" id="dId" placeholder="Enter your PrivateKey" />
            <table>
                <tr>
                    <td ><input type="submit" value = "Login" onclick="login()"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>

<a class="nav-link" id="list" href="/">
        <h3>Home</h3>
        
    </a>
<script src='/javascripts/main.js'></script>