<link rel='stylesheet' href='/stylesheets/login.css' />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<h1>Welcome to Dashboard</h1>
<div class="form-modal2">
    
    <div id="man-form">
        <form id="manform">
             <table>
                <tr>
                    <td ><a href="/dsearch">List</a></td>
                    <td ><a href="/patientForm">Add</a></td>
                    <td><a href="/delete">Delete</a></td>
                
                </tr>
            </table>
        </form>
    </div>
    
</div>
<button type="button" onclick="logout()" class="btn">Logout</button>

<script src='/javascripts/main.js'></script>