<link rel='stylesheet' href='/stylesheets/login.css' />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<h1>Welcome to MediChain</h1>
<div class="form-modal2">
    
    <div id="man-form">
        <form id="manform">
             <table>
                <tr>
                    <td ><a href="/search">Patient</a></td>
                    <td ><a href="/dlogin">Doctor</a></td>
                
                </tr>
            </table>
        </form>
    </div>
</div>
<script src='/javascripts/main.js'></script>